*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
    position: relative;
    background-color: black
}
a{
    text-decoration: none;
    color: white;

}
li{
    list-style: none;
}
.loader {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 300px;
    left: 49%;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: rotation 2s ease-in-out infinite alternate;
  }
  .loader::after {
    border-color: #FF3D00;
    animation-direction: alternate-reverse;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
 /* Start Side Navbar  */
.side-nav{
    flex: 0 0 auto;
    position: fixed;
    z-index: 1;
}
.side-nav ul li{
    padding-top: 20px; 
}
.closeIcon , .openIcon{
    cursor: pointer;
    
}
.nav-tab{
    width: 0;
    margin-right: -50px;
}
/* end side navbar  */



/* start content  */
.content , .searchContent{
   
    flex: 1;
    margin-left: 80px;
}
.position{
    position: relative;
    overflow: hidden;
}
.position img{
    width: 100%;
    border-radius: 6px;
    cursor: pointer;

}
 .details-screen{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.7;
    border-radius: 6px;
    position: absolute;
    top: 0;
    right: 11px;
    left: 11px;
    bottom: 0;
    transform: translateY(100%);
    transition: all 0.5s;
    cursor: pointer;

}
.position:hover .details-screen{
    transform: translateY(0%);
}


/* Start search section  */
.searchInputs input{
    width: 35%;
    margin: 30px 20px;
    background-color: transparent !important;
    color: white !important;
}
.cursor-pointer{
    cursor: pointer;
}